---
import "@/styles/global.css";

import { SITE_CONFIG } from "@constants";

const canonicalURL = new URL(Astro.url);
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{SITE_CONFIG.title}</title>
<meta name="title" content={SITE_CONFIG.title} />
<meta name="description" content={SITE_CONFIG.description} />
<link rel="icon" type="image/png" sizes="512x512" href="/logos/logo-512x512.png" />
<link rel="icon" type="image/png" sizes="96x96" href="/logos/logo-96x96.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/logos/apple-touch-icon.png" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={SITE_CONFIG.title} />
<meta property="og:description" content={SITE_CONFIG.description} />
<meta property="og:image" content="/meta.png" />
<meta property="og:image:width" content="1080" />
<meta property="og:image:height" content="1080" />
<meta property="og:image:alt" content={SITE_CONFIG.description} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={SITE_CONFIG.title} />
<meta property="twitter:description" content={SITE_CONFIG.description} />
<meta name="twitter:image" content="/meta.png" />
<meta name="twitter:image:alt" content={SITE_CONFIG.description} />

<script>
  const LS_KEY_THEME = "listography_theme";

  const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
  const storedTheme = localStorage.getItem(LS_KEY_THEME);

  const isDark = storedTheme === "dark" || (!storedTheme && prefersDark);

  document.documentElement.classList.toggle("dark", isDark);
</script>
