---
import "@/styles/global.css";

import { SITE_CONFIG } from "@constants";

const canonicalURL = new URL(Astro.url);
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{SITE_CONFIG.title}</title>
<meta name="title" content={SITE_CONFIG.title} />
<meta name="description" content={SITE_CONFIG.description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={SITE_CONFIG.title} />
<meta property="og:description" content={SITE_CONFIG.description} />
<!-- <meta property="og:image" content={image} />
<meta property="og:image:width" content="1400" />
<meta property="og:image:height" content="1400" /> -->
<meta property="og:image:alt" content={SITE_CONFIG.description} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={SITE_CONFIG.title} />
<meta property="twitter:description" content={SITE_CONFIG.description} />
<!-- <meta name="twitter:image" content={image} /> -->
<meta name="twitter:image:alt" content={SITE_CONFIG.description} />

<script>
  document.documentElement.classList.toggle("dark", localStorage.theme === "dark" || (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches));
</script>
